<div class="container mt-3">
    <h2>Mahsa Dorri</h2>
    <h5>Software Developer</h5>
    <p>Hello,
       I am 30 years old and a full time student at Centennial College, Canada,ON.
       I am eager to gain knowledge in software field and try to find my way in this industry.
       I also studied industial engineering and MAB(Strategy) at Tehran University for my bachlors and masters degrees.
       I enjoy to study software since it will lead to having problem solving mindset, which is beneficial
       for me even in my personal life.
    </p>
    <img src="Assets/images/personalpics/WhatsApp Image 2023-01-30 at 11.58.42.jpg" class="mx-auto d-block " style="width:20%"> 
    <button class="btn btn-link" type="button" >
        <a href="Content/stylesheets/4. Mahsa Dorri - Resume - 2021.pdf" target="_blank"
          style="color:rgb(6, 6, 6); text-decoration: none;">My Resume</a>
    </button>
</div>