   <!--Main Content-->
   <div class="container">

    <!--Heading of page-->
    <div style="text-align:center">
      <h1>Contact Me</h1>
     
    </div>


    <div class="row">

      <!--contact details-->
      <div class="col-sm-4">
        <form class="contactform" method="post" style="color: rgb(11, 11, 239);">
          &nbsp;
          <p>
            <label>MY DETAILS:
            </label>
          </p>
          <p>
            <label>Name : Mahsa Dorri
            </label>
          </p>
          <p>
            <label>Email : Mahsadorri093@gmail.com
            </label>
          </p>
          <p>
            <label>Contact Number: +1 6475896578
            </label>
          </p>
        </form>
      </div>

      <!--form-->

      <div class="col-m-8">
        <form class="contactform" method="POST" action="/submitForm">


       

          <p>
            <label>First Name:
              <input type="text" name="fname">
            </label>
          </p>

          <p>
            <label>Last Name:
              <input type="text" name="lname">
            </label>
          </p>

          <p>
            <label>Email address:
              <input type="email" name="email">
            </label>
          </p>

          <p>
            <label>Contact Number:
              <input type="contactnumber" name="contact">
            </label>
          </p>

          <p>
            <label>Your Message:
              <textarea name="message" maxlength="1000"></textarea>
            </label>
          </p>

          <button><a href="/home">SUBMIT</a></button>

        </form>
      </div>
    </div>
  </div>